<div class="accommodation-offers">
	<h1><%=t '.found_offers'%></h1>
	<div class="offers">
		<% accommodation.offers.each{|offer|%>
			<%= render :partial => "offers/offer_in_accommodation_card",
				:locals => {offer: offer} 
			%>
		<% } %>
	</div>
</div>
