<div class="accommodation-offers">
	<%= set_content_for :databox_header do %>
		<%=t '.found_offers'%>
	<% end %>
	<div class="offers">
		<% Offer.from_user(accommodation.landlord_id).each_with_index{|offer, index|%>
			<%= render :partial => "offers/offer_in_accommodation_card",
				:locals => {offer: offer} 
			%>
			<div class="black-border"></div> 
		<% } %>
	</div>
</div>
