	<%= form_for :photo, 
		:url => new_accommodation_photo_path(:accommodation_id => image_owner.id, :format => :js), 
		:html => {
			:multipart => true
		} do |f| %>
	  <div class="control-group">
	    <div class="controls">
	    	<div class="input-append">
		      <%= f.text_field :name, :placeholder => t(".name") %>
		      <%= f.text_field :description, :placeholder => t(".description") %>
		      <%= f.file_field :photo %>
	      	</div>
	    </div>
	  </div>
	
	<% end %>