<div class="images-section">
	<h1><%=t '.upload_photos' %></h1>
	<div class="uploaded-images">
	</div>
	<div class="upload-forms">
		<%= render :partial => "show_ajax_image_upload_form",
			:locals => {image_owner: image_owner} %>
	</div>
	<%= link_to t('.more_images'), '#',
		:class => "btn btn-success"
	%>
</div>