<footer class="bg-medium-chocolate">
	<div class="hero-block "></div>
	<div class="container">
		<div class="color-white">
			<p class="company-legal">
				2012 &copy;
				<span class="company bold">RAMAX Alojamientos</span>
				<span class="all-rights italics">Todos los derechos reservados</span>
			</p>
			<%= render :partial => "shared/main_navigation_bar" %>
		</div>
		
	</div>
	<div class="separator hero-block"></div>
</footer>
