// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.offer {
  div.image{
    text-align: center;
  }
  div.price{
    text-align: center;    
  }
}

div.search-box {
  padding: 10px;
}

article.micro-offer-card{
  display: inline-block;
  width: 100%;
  font-size: 8pt;
  line-height: 8pt;  
  img{
    float:left;
    margin: 0 5px 0 0;
  }
  h1 {
    font-size: 8pt;
    line-height: 8pt;
    text-transform: uppercase;
  }
}
