<article class="room-type-card">
	<%= image_tag room_type.main_photo(:thumbnail), :alt => room_type.name %>
	<h1>
		<%= link_to room_type.name, 
			accommodation_room_type_path(room_type.accommodation.id, room_type.id) 
		%>
	</h1>
	<section>
		<p><%= simple_format room_type.brief_description %></p>
		<p><%= simple_format room_type.characteristics %></p>
	</section>
</article>
