<%= content_for :view_title do %>
	<%= t('.unrepeatable_offers', :default => "Ofertas irrepetibles") %>
<% end %>

<section class="public-offers">
	<div class="row">
	<% @offers.each{ |offer| %>
		<div class="span9">
			<%= render :partial => "offer_card", :locals => {offer:offer} %>
		</div>
	<% } %>
	</div>
</section>

<% content_for :bar do %>
	<%= offers_search_box %>
<% end %>
