<%= content_for :view_title do %>
	<%= t('.unrepeatable_offers', :default => "Ofertas irrepetibles") %>
<% end %>

<section class="public-offers">
	<% @offers.each{ |offer| %>
		<%= render :partial => "offer_card", :locals => {offer:offer} %>
	<% } %>
</section>

<% content_for :bar do %>
	<%= offers_search_box %>
<% end %>
