
@import "twitter/bootstrap/bootstrap";

/** COLORES */  

@chocolate: #bd906a;
@medium-chocolate: #7e4734;
@dark-chocolate: #633827;
@hazelnut: #f0ead7;

@grana: #4f3327;
  
.bg-chocolate {
  background-color: @chocolate;
}

.bg-medium-chocolate {
  background-color: @medium-chocolate;  
}

.bg-dark-chocolate {
  background-color: @dark-chocolate;
}

.bg-hazelnut {
  background-color: @hazelnut;
}

.color-white {
  color: #fff;
}


/*** 
 * Cajas de busqueda 
 * 
 * 
 ***/

div.search-box{
  .bg-dark-chocolate;
  padding: 10px;

  
  input, select {
    border-radius: 0;
    font-size: 12pt;
    .input-block-level;
    border: 2px solid @chocolate;
  }
  
  button, input[type='button'], input[type='submit'] {
    .btn;
    .btn-block;
    .buttonBackground(@chocolate, @chocolate);
    border-radius: 0;
  }
}


/***
 * Cajas de datos
 */

div.data-box {
  div.head {
    line-height: 35px;
    .bg-chocolate;
    text-transform: uppercase;
    font-size: 14pt;
    color: #fff;
    padding: 0 25px;
  }
  div.content {
    font-size: 10px;
    line-height: 10px;
    padding: 10px;
    .bg-hazelnut;
    label {
      display: inline;
      text-transform: uppercase;
      color: #8f8f8f;
      font-size: 9px;
      
    }
    label.vertical{display: block;}
    h2 {
      color: @grana;
      font-size: 10pt;
      text-transform: uppercase;
    }
  }
}

/***
 * Formulario de consultas
 *
 */

div.send-request {
  .bg-dark-chocolate;
  form {
    margin: 0;
    padding: 0;
    div {margin: 0 5px;
      label {display: inline;}
      input, textarea {width: 50%; display: inline; float: right; }
      clear: both;
    }
  }
}
